.todo-list {
    max-width: 500px;
    margin: auto;
}

.tabela{
    border-radius: 10px;
}
.botao {
    margin-top: 2px;
    margin-left: 4px;
}

.botaotitulo{
    display: flex;
    justify-content: space-between
}

.task-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* ajuste o espaço entre as tarefas conforme necessário */
}
